<h1>Messaged have been read:</h1>

<table class="table">
  <thead class="thead thead-default">
    <tr>
      <th>Sender</th>
      <th>Recipient</th>
      <th>Body</th>
      <th>Read at</th>
      <th>Created at</th>
    </tr>
  </thead>
  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td><%= message.sender.email %></td>
        <td><%= message.recipient.email %></td>
        <td><%= message.body %></td>
        <td><%= message.read_at %></td>
        <td><%= time_ago_in_words message.created_at %></strong></td>
      </tr>
    <% end %>
  </tbody>
</table>